./#auto_saved_files#
./autosave-vWAN-macropad.kicad_pcb
./~_autosave-vWAN-macropad.kicad_pcb.lck
./~vWAN-macropad.kicad_sch.lck
./fabrication-toolkit-options.json
./fp-info-cache
./fp-lib-table
./vWAN-macropad-backups
