./vWAN-macropad/#auto_saved_files#
./vWAN-macropad/autosave-vWAN-macropad.kicad_pcb
./vWAN-macropad/~_autosave-vWAN-macropad.kicad_pcb.lck
./vWAN-macropad/~vWAN-macropad.kicad_sch.lck
./vWAN-macropad/fabrication-toolkit-options.json
./vWAN-macropad/fp-info-cache
./vWAN-macropad/fp-lib-table
./vWAN-macropad/vWAN-macropad-backups
./scripts/myenv